{% extends "SBPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block sbplatform_body %}
{{ include('SBPlatformBundle:Advert:form.html.twig') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}

    <script type="text/javascript">
        $(document).ready(function(){
            var $container = $('div#sb_platformbundle_advert_categories');
            var $addLink = $('<a href="#" id="add_category" class="btn btn-default">Ajouter une catégorie</a>');
            $container.append($addLink);

            $addLink.click(function(e){
                addCategory($container);
                e.preventDefault();
                return false;
            })
            var index = $container.find(':input').length;
            if (index == 0) {
                addCategory($container);
            } else {
                // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            function addCategory($container)
            {
                var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Catégorie n°' + (index+1))
                        .replace(/__name__/g, index));
                addDeleteLink($prototype);
                $container.append($prototype);
                index++;
            }

            function addDeleteLink($prototype) {
                // Création du lien
                $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien
                $deleteLink.click(function (e) {
                    $prototype.remove();
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }
        });
    </script>
{% endblock %}